* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

button, #submit {
  background: rgba(128,0,128,0.7);
  border: 5px solid #800080;
  border-radius: 5px;
  color: white; 
  font-size: 1.2em;
  padding: 10px;
}

button:hover, #submit:hover {
  background: rgba(128,0,128,1);
}

#submit {
  height: auto;
  margin: 20px auto 0;
  width:auto;
}

section {
/*   border-bottom: 2px solid red; */
  min-height: 100vh;
}

footer {
  background: #800080;
  color: white;
  width: 100%;
  padding: 10px;
  text-align: center;
}

header {
  background: rgba();
  position: fixed;
  width: 100%;
  z-index: 99;
}

h1, h2, h3 {
  color: white;
  text-shadow: 1px 1px 5px #000; 
}

#logo {
  height: 50px;
  position: relative;
  top: 5px;
  left: 5px;
}

#phone a {
  color: white;
  text-decoration: none;
}

#phone a:hover {
  font-size: 1.2em;
}
/************************navigation & toggle******/
nav a {
  color: white;
  text-decoration: none;
}

nav a:hover {
  color: white;
  text-decoration: none;
}

.slide {
  color: #800080;
  float: right;
  font-size: 70px;
  position: relative;
  right: 10px;
  z-index: 100;
}

#navslide {
  background-color: black;
  position: fixed;
  left:0;
  top: -260px;
  transition: top 0.5s ease;
  width: 100vw;
  z-index: 1;
}

#navslide ul li {
  padding: 20px;
  text-align: center;
}

#navslide ul li:hover {
  background: #555;
}
  
#slidetoggle {
  display: none;
}

#slidetoggle:checked ~ nav {
  top: 0;
}

/********************navigation end***/

#home {
  background: url("../images/nomonitor.jpg")  no-repeat;
  background-size: cover;
  padding: 5px;
  text-align: center;
}

#home button {
  margin-top: 50px;
}

.container-fluid {
  padding: 0;
}

.content {
  font-size: ;
  position: relative;
  top: 10vh;
}

/*.samples-content, .contact-content {
  position: relative;
  top: 2vh;
}*/

#about, #samples, #contact {
  background:  linear-gradient(to bottom right, #c5c5d0 20%, #82edfe);  
}

.button {
  text-align: center;
}

#about img {
  border-radius: 50%;
  float: left;
  height:  25vh;
  shape-margin: 10px;
  shape-outside: circle();
}

#samples h2 {
  margin: 100px 0 5% 0;
}
#samples h3 {
  width: 70vw;
  margin: 5% auto;
}

/*.sample-img {
  height: 30vh;
  max-height: 252px;
  margin: 0 auto;
  max-width: 349px;
}

.sample-img:hover {
  box-shadow: 0 0 20px #800080;
}*/
/*#samples img:hover {
  box-shadow: 0 0 20px #800080;
}*/
#samples img {
  position: relative;
  margin: 0 auto;
  height: 30vh;
  /*max-width: 50vw;*/
}

.clearfix {
  clear: both;
}

 /*#sample1 {
    background: url("images/djreightss.png") no-repeat center;
    background-position: contain; 
  }

  #sample2 {
    background: url("images/organixss.png") no-repeat top center;
    background-position: contain;
  }

  #sample3 {
    background:  url("images/supermoversss.png") no-repeat;
    background-position: contain;
  }

  #sample4 {
    background:  url("images/starrynightss.png") no-repeat;
    background-position: contain;
  }*/
.form-group {
  margin-top: 10%; 
}

/*************Portfolio Cube****************/
@keyframes spin {
      from { transform: rotateY(0); }
      to { transform: rotateY(360deg); }
    }
    .cubeWrap {
      perspective: 800px;
      /*perspective-origin: 50% 100px;*/
    }
    .cube {
      position: relative;
      width: 200px;
      transform-style: preserve-3d;
      -ms-transform-style: preserve-3d;
      margin: 0 auto;
      animation: spin 10s infinite linear;
    }
    .cube div {
      position: absolute;
      width: 200px;
      height: 200px;
      background:rgba(255,255,255,0.1);
      box-shadow:inset 0 0 30px rgba(0,0,0,0.2);
    }
    .cube div img {
      height: 100%;
      width: 100%;
    }
    .back {
      transform: translateZ(-100px) rotateY(180deg);
    }
    .right {
      transform: rotateY(-270deg) translateX(100px);
      transform-origin: top right;
    }
    .left {
      transform: rotateY(270deg) translateX(-100px);
      transform-origin: center left;
    }
    .top {
      transform: rotateX(-90deg) translateY(-100px);
      transform-origin: top center;
    }
    .bottom {
      transform: rotateX(90deg) translateY(100px);
      transform-origin: bottom center;
    }
    .front {
      transform: translateZ(100px);
    }
/*************Portfolio Cube End*************/ 

/**************Media Queries************/
@media (max-height: 400px){
  .button{
    position: relative;
    top: -35px;
  }
  
  .contact-content {
    top: 5vh;
  }
  
  .form-group {
    margin: 0;
  }
  
  .hidden {
    display: none;
  }
  
}

@media (max-width: 640px) {
  header img {
    height: 10vh;
  }
   
  #about h2, #about h3 {
    font-size: 1.5em;
  }
}

@media (max-width: 767px){
  .sample-img {
  height: 20vh;
  /*max-height: 252px;*/
  margin: 0 auto 10px;
  max-width: 349px;
  }
  
  #samples .clearfix {
    display:none;
  }
  
  #samples .row {
    top: -2vh;
  }
}


@media screen and (min-width: 768px) {
  .slide {
    display: none;
  }
  
  #navslide {
  background-color: unset;
  color: white;
  float: right;
  width: 360px;
  position: relative;
  top: 0;
  }
  
  #navslide li {
  display: inline-block;
  list-style: none;
  }
  
  #navslide ul li:hover {
  background: unset;
  border-bottom: 2px solid purple;
  padding-bottom: 2px;
  }

  #samples h2 {
  margin: 0 0 50px 0;
  }

  #about h3 {
    line-height: 1.5em;
  }

  /*****************Portfolio Cube****************/
  
  .cubeWrap {
     perspective: 800px;
  }

  .cube {
    margin: 0 auto;
    width: 300px;
  }

  .cube div {
    width: 300px;
    height: 300px;
  }

  .back {
    transform: translateZ(-150px) rotateY(180deg);
  }
  .right {
    transform: rotateY(-270deg) translateX(150px);
  }
  .left {
    transform: rotateY(270deg) translateX(-150px);

  }
  .top {
    transform: rotateX(-90deg) translateY(-150px);

  }
  .bottom {
    transform: rotateX(90deg) translateY(150px);
  
  }
  .front {
    transform: translateZ(150px);
  }

  /***************Portfolio Cube End**************/

  .form-group {
  margin-top: 5%; 
  }
  
 
}
/********** Large devices only **********/
@media (min-width: 1200px) {
	
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
	
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
	
}

/********** Extra Small devices only **********/
@media (max-width: 767px) {

}

/********** Super extra small devices only :-) (e.g., iPhone4) **********/
@media (max-width: 479px) {
	
}