:root{
  --blue: #00b2ff;
  --purple: #2600ff;
  --gray: #f4fefd;
  --green: #1b5e20;
}
body{
  background-color: var(--gray);
}
#navbar{
  position: fixed;
  top: 0;
  z-index: 100;
}
#navbar, footer{
  background-color: var(--blue);
}
#bg-pretty{
  background-image: linear-gradient(135deg, var(--blue), transparent 50%);
  padding-top: 75px;
}
#welcome-section{
  min-height: 100vh;
}
h1, h2, h4{
  color: var(--purple);
}
#greeting img{
  height: 15vw;
}
#greeting h1{
  font-size: 5vw;
  padding-left: 10px;
}
#certifications{
  border: 2px solid var(--purple);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#certifications h2{
  margin: 0 0 10px 0;
  border-bottom: 1px solid var(--purple);
}
#projects h2:before, #projects h2:after{
  display: block;
  content: '';
  height: 5px;
  border-radius: 10px;
  background: linear-gradient(to var(--direction, left), var(--blue), transparent);
} 
#projects h2:after{
  --direction: right;
}
#divider:before{
  display: block;
  content: '';
  height: 5px;
  background: linear-gradient(to left, transparent, var(--blue) 50%, transparent);
}
.icons{
  margin-bottom: 20px;
  width: 25%;
}
.contact-title{
  font-size: 2.5rem !important;
}
.form-container{
  margin-top: 34px;
  height: 250px;
  box-shadow: 0 2px 2px 0 var(--green), 
              0 3px 1px -2px var(--green), 
              0 1px 5px 0 var(--green);
}
.contact-icon{
  line-height: 150px !important;
}
.input-field{
  margin: 0;
}
.input-field:first-of-type{
  margin-top: 10px;
}
footer {
  background-color: var(--blue);
  min-height: 50px;
  padding: 20px;
  font-size: 1.2rem;
}
footer i{
  margin-right: 5px;
}
.vhcentered{
  display: flex;
  justify-content: center;
  padding: 5px;
}
@media (max-width: 350px){
  .brand-logo{
    font-size: 1.5rem !important;
  }
}
@media (min-width: 601px){
  icons{
    width: 50%;
  }
}
@media (min-width: 992px){
  #navbar{
    background-image: linear-gradient(45deg, var(--blue), var(--gray) 75%);
  }
  .brand-logo{
    color: white !important;
    margin-left: 50px;
  }
  #navbar a{
    color: var(--blue);
  }
  .card img{
    object-fit: cover;
    object-position: top center;
    height: 300px;
    width: 300px;
  }
  
}