body{
  background-color: #f4fefd;
}
#navbar{
  position: fixed;
  top: 0;
  z-index: 100;
}
#navbar, footer{
  background-color: #00b2ff;
}
#welcome-section{
  height: 100vh;
  padding-top: 30px;
}
h1, h2, h4{
  color: #2600ff;
}
#welcome-section h1, .brand-logo{
  font-size: 5vw;
}
#welcome-section img{
  max-height: 300px;
}
#headshot{
  margin-top: 2em;
}

.icons{
  margin-bottom: 20px;
  width: 25%;
}
footer {
  height: 50px;
  padding: 5px;
}
@media (max-width: 350px){
  .brand-logo{
    font-size: 1.5rem !important;
  }
}
@media (min-width: 601px){
  icons{
    width: 50%;
  }
}
@media (min-width: 992px){
  .brand-logo{
    margin-left: 50px;
  }
}