* {
 border: 0;
 margin: 0;
 padding: 0;
}

a {
  color: white;
  text-decoration: none;
}

body {
  background: linear-gradient(to top, lightblue, #999);
  min-height: 100vh;
  font-family: Roboto;
  overflow-x: hidden;
}

footer {
  position: relative;
  bottom: 2px;
  left: 2px;
}

form label {
  display: none;
}

img {
  height: 50px;
  position: relative;
  top: 5px;
  left: 5px;
}

input {
  font-size: 1.5rem;
  height: 2rem;
  margin-bottom: 10px;
  width: 95%;
}

input, label, textarea {
  font-family: inherit;
}

textarea {
  font-size: 1.5rem;
  height: 7rem;
  margin-bottom: 10px;
  width: 95%;
}

textarea::-webkit-input-placeholder {
  color: purple;
}

::-webkit-input-placeholder {
  padding-left: 5px;
}

.slide {
  color: purple;
  float: right;
  font-size: 70px;
  position: relative;
  right: 10px;
  z-index: 2;
}

#button {
  text-align: center;
}

#form {
  margin: 0 auto;
  width: 80vw;
}

#mail::-webkit-input-placeholder {
  color: purple;
}

#main {
  flex: 1 0 auto;
}

#navslide {
  background-color: black;
  color: white;
  position: fixed;
  left:0;
  top: -260px;
  transition: top 0.5s ease;
  width: 100vw;
  z-index: 1;
}

#navslide ul li {
  padding: 20px;
  text-align: center;
}

#navslide ul li:hover {
  background: #555;
}

#required {
  color: red;
  font-size: 2rem;
  padding-left: 2px;
}

#salutation {
  margin: 10px auto;
  padding-top: 10px;
  width: 80vw;
  text-align: ;
}

#slidetoggle {
  display: none;
}

#slidetoggle:checked ~ nav {
  top: 0;
}

#submit {
  background: rgba(128, 0 , 128, 0.5);
  border: 3px solid purple;
  border-radius: 5px;
  color: white;
  font-size: 1.5rem;
  height: auto;
  padding: 10px;
  max-width: 80%;
}

#wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Responsive layouts below */

@media screen and (min-width: 1000px) {
  h1 {
    font-size: 3em;
  }
  
  a:nth-child(4) {
    color: purple;
  }
  
  .slide {
    display: none;
  }
  
  #navslide {
  background: unset;
  color: white;
  float: right;
  width: 400px;
  position: relative;
  top: 0;
  }
  
  #navslide li {
  display: inline-block;
  font-size: 1.2em;
  list-style: none;
  }
  
  #navslide ul li:hover {
  background: unset;
  border-bottom: 2px solid purple;
  padding-bottom: 2px;
}
  
}