* {
 border: 0;
 margin: 0;
 padding: 0;
}

a {
  color: white;
  text-decoration: none;
}

body {
  background: linear-gradient(to right, #222, #999);
  height: 100vh;
  font-family: Roboto;
  font-size: 16px;
}

footer {
  position: absolute;
  bottom: 2px;
  left: 2px;
}

h1, h2 {
  color: white;
  margin-top: 5vh;
  text-align: center;
  text-shadow: 0 0 5px black;
}

img {
  height: 50px;
  position: relative;
  top: 5px;
  left: 5px;
}

.clear {
  clear: both;
}

.slide {
  color: purple;
  float: right;
  font-size: 70px;
  position: relative;
  right: 10px;
  z-index: 2;
}

#button {
  background: rgba(128, 0 , 128, 0.7);
  border: 3px solid purple;
  border-radius: 5px;
  font-size: 1.5rem;
  margin: 5vh auto;
  padding: 10px;
  max-width: 250px;
  text-align: center;
  text-shadow: 0 0 10px purple;
}

#main { 
  background: url(images/nomonitor.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

#navslide {
  background: black;
  color: white;
  position: fixed;
  left:0;
  top: -260px;
  transition: top 0.5s ease;
  width: 100vw;
  z-index: 1;
}

#navslide ul li {
  padding: 20px;
  text-align: center;
}

#navslide ul li:hover {
  background: #555;
}
  
#slidetoggle {
  display: none;
}

#slidetoggle:checked ~ nav {
  top: 0;
}


/* Responsive layouts below */

@media screen and (min-width: 1000px) {
  h1 {
    font-size: 3em;
  }
  
  a:nth-child(1) {
    color: purple;
  }
  
  .slide {
    display: none;
  }
  
  #navslide {
  background: transparent;
  color: white;
  float: right;
  width: 400px;
  position: relative;
  top: 0;
  }
  
  #navslide li {
  display: inline-block;
  font-size: 1.2em;
  list-style: none;
  }
  
  #navslide ul li:hover {
  background: unset;
  border-bottom: 2px solid purple;
  padding-bottom: 2px;
}
  
}