* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
    background: #ffffe0;
    height: 100vh;
    font-size: 16px;
    font-family: 'Oxygen', sans-serif;
}

/*HEADER ANIMATION*/
@keyframes slideshow {
    33.3333333333% {background-image: url(images/grape-sm.png);}
    66.6666666667% {background-image: url(images/greenbean.jpg);}
}

@keyframes backbutton {
        100% {opacity: 1;}
    }

#bg2 {
    background-image: url(images/grape-sm.png);
    background-size: cover;
}

#bg3 {
    background-image: url(images/greenbean.jpg);
/*     background-size: cover; */
}

/*#button {
	  background: rgba(128, 0 , 128, 0.9);
	  border: 3px solid purple;
	  border-radius: 5px;
	  color: white;
	  font-size: 1.5rem;
	  margin: 20px auto;
	  padding: 10px;
	  max-width: 250px;
	  text-align: center;
	  text-shadow: 0 0 10px purple;
}*/
#button {
      animation: backbutton 1s 3s forwards;
      background: rgba(128, 0 , 128, 0.9);
      border: 3px solid purple;
      border-radius: 5px;   
      color: white;
      font-size: 1.5rem;
      margin: 20px auto;
      opacity: 0;
      padding: 10px;
      position: fixed;
      max-width: 250px;
      right: 2%;
      text-align: center;
      text-shadow: 0 0 10px purple;
      top: 0;
    }

#button:hover {
  background: rgba(128, 0 , 128, 1);
}

#logo {
/*     display: block;   - commented code replaced with <center> tag in the html - sweeet!
    margin: 0 auto; */
    width: 80%;
}

/*#preload-area {
    background-image: url(images/grape.png);
    background-image: url(images/citrus.jpg);
    background-image: url(images/strawberry.jpg);
    width: 0;
    height: 0;
    display: inline;
}*/
    

header {
    animation: slideshow 15s ease 15;
    background-image: url(images/strawberry-sm.jpg);
    background-size: cover;
    position: relative;
}

/* HEADER ANIMATION END */

section img {
    padding: 10px 0;
    width: 232px;
}

section:last-child {
    align-items: center;
    border-top: 1px solid black;
    flex-direction: column;
    line-height: 1.5;
    margin-top: 20px;
}
    
span {
    text-transform: uppercase;
}

.clear {
    clear: both;
}

.listing {
    background: #008000;
    bottom: 0;
    color: white;
    font-size: 1.3em;
    opacity: 0.8;
    position: absolute;
    text-align: center;
    width: 100%;
}

.tile {
    border: 1px solid black;
    height: 250px;
    margin-top: 10px;
    position: relative;
    width: 250px;
}

.tile:hover {
    box-shadow: 0 0 10px green;
}

.tile:first-child {
    background: url('images/cows-sm.jpg') no-repeat;
/*     background-position: -50px; */
    background-size: cover;
}

.tile:nth-of-type(2) {
    background: url('images/hen-sm.jpg') no-repeat;
    background-size: cover;
}

.tile:nth-of-type(3) {
    background: url('images/crabs-sm.jpg') no-repeat;
    background-size: cover;
}

#herbivore .tile:first-child {
    background: url('images/grain-sm.jpg') no-repeat;
}

#herbivore .tile:nth-of-type(2) {
    background: url('images/citrus-sm.jpg') center no-repeat;
}

#herbivore .tile:nth-of-type(3) {
    background: url('images/veggies-sm.jpg') center no-repeat;
}

#intro, footer {
    color: white;
    background: #008000;
    padding-bottom: 5px;
    text-align: center;
/*     width: 100%; */
}

#intro h3 {
    font-style: italic;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 10px;
}

footer {
    margin-top: 10px;
    padding-top: 10px;
}

footer div {    /*maybe adjust this later*/
    margin-top: 10px;
    padding-top: 10px;
}

/********** RESPONSIVE STYLES BELOW **********/

/********** Large devices only **********/
@media (min-width: 1200px) {
    section {
        margin: 0 auto;
        width: 80%;
    }
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
    section {
        margin: 0 auto;
        width: 80%;
    }
}

/********** Small devices only **********/
@media (min-width: 769px) and (max-width: 991px) {

}

/********** Extra Small devices only **********/
@media (min-width: 500px) and (max-width: 768px) {
    .tile {
        width: 49%;
    }
    
    .tile:nth-of-type(3) {
        background-size: cover;
        width: 100%;
    }
    
    #herbivore .tile:nth-of-type(3) {
        background-position: 0px;
        background-size: cover;
        width: 100%;
    }
}

/********** Super extra small devices only :-) (e.g., iPhone4) **********/
@media (max-width: 499px) {
    .tile {
        width: 100%;
    }
    
    #herbivore .tile:nth-of-type(3) {
        background-position: -150px;
    }
    
    #phone {
        display: none;
    }
}