* {
  border: 0;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  background: url("images/FAFNM9LB.jpg") no-repeat;
  background-size: cover;
  font-size: 16px; 
  height: 100%;
}

#button {
	  background: rgba(128, 0 , 128, 0.9);
	  border: 3px solid purple;
	  border-radius: 5px;
	  color: white;
	  font-size: 1.5rem;
	  margin: 20px auto;
	  padding: 10px;
	  max-width: 250px;
	  text-align: center;
	  text-shadow: 0 0 10px purple;
}

footer {
  padding-left: 5px;
}

h1 {
  text-align: center;
}

h3 {
  display: none;
  font-style: italic;
  position: absolute;
  left: calc(100% - 320px);
  top: 50px;
  width: 200px;
}

label img {
  height: 50px;
}

p {
  background-color: rgba(173, 216, 230, 0.3);
  font-size: 1.25em;
  line-height: 1.5em;
  padding: 5px;
}

.centered {
  text-align: center;
}

#container {
  background: transparent;
  margin: 10px auto;
  position: relative;
  width: 90%;
}

#logo {
  height: 115px;
}

#main {
  background-color: rgba(173, 216, 230, 0.9);
  border-radius: 0 0 10px 10px;
  position: relative;
  left: 0;
  padding-top: 5px;
  transition: left 0.5s ease;
}

#top {
  background-color: rgba(173, 216, 230, 0.9);
  border-bottom: 1px solid red;
  border-radius: 10px 10px 0 0;
  padding: 5px;
}

/* menu toggle */
nav {
  background-color: black;
  color: white;
  font-size: 25px;
  height: 100%;
  width: 157px;
  position: fixed;
  left: -157px;
  transition: left 0.5s ease;
}

nav2 {
    display: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  color: white;
  border-bottom: 1px solid white;
  list-style: none;
  padding: 20px 0;
  text-align: center;
 }
 
.purple {
    background: purple;
}

.slide {
/*   display: inline-block; */
  float: right;
  position: relative;
}

.slide img {
  height: 75px;
}

#slidetoggle {
  display: none;  
}

#slidetoggle:checked ~ nav {
  left: 0;
}

#slidetoggle:checked ~ #main {
  left: calc(155px - 5.25%);
}

/* Responsive layouts below */

@media screen and (max-height: 400px) {
    li {
        padding: 10px 5px;
    }
    
    #logo {
        height: 75px;
    }
}

@media screen and (min-width: 700px) {
  p {
  font-size: 1.75em;
  line-height: 1.5em;
  padding: 0 20px;
  }
  
  .slide {
      display: none;
  }
  
  #container {
    display: flex;
    flex-direction: column;
    min-height: 95vh;
  }
  
    
  #main {
    flex: 1;
/*     margin-top: -32px; */
  }
  
  nav2 {
    background: transparent;
    color: white;
    display: block;
    float: right;
    margin-right: 20px;
    position: static;
    
  }
 
  
  nav2 a li {
    border: none;
/*     display: inline-block; */
    font-size: 1.75em;
    list-style: ;
    padding: 0 5px;
  }
  
  li:hover {
    color: red;
  }
  
  #logo {
    height: 200px;
    left: calc(50% - 211px);
    position: relative;
  }
  
@media screen and (min-width: 770px) {
  #logo {
    height: 260px;
    left: calc(50% - 211px);
    position: relative;
  }
}
