* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  background-color: rgba(173, 216, 230, 0.9);
  font-size: 120%; 
  height: 100%;
}

/*#button {
	  background: rgba(128, 0 , 128, 0.9);
	  border: 3px solid purple;
	  border-radius: 5px;
	  color: white;
	  font-size: 1.5rem;
	  margin: 20px auto;
	  padding: 10px;
	  max-width: 250px;
	  text-align: center;
	  text-shadow: 0 0 10px purple;
}*/
@keyframes backbutton {
        100% {opacity: 1;}
    }

#button {
      animation: backbutton 1s 3s forwards;
      background: rgba(128, 0 , 128, 0.9);
      border: 3px solid purple;
      border-radius: 5px;   
      color: white;
      font-size: 1.5rem;
      margin: 20px auto;
      opacity: 0;
      padding: 10px;
      position: fixed;
      max-width: 250px;
      right: 2%;
      text-align: center;
      text-shadow: 0 0 10px purple;
      top: 30%;
      z-index: 99999;
    }
    
#button:hover {
  background: rgba(128, 0 , 128, 1);
}

blockquote {
  background-color: rgba(173, 216, 230, 0.9);
  border: 2px dotted #ff0000;
  border-radius: 5px;
  font-size: 1.3em;
  margin: 5px auto 0;
  padding: 5px;
  width: 80%;
}

footer {
  background: #ff0000;
  height: 50px;
  padding:10px 5px;
}


label img {
  height: 50px;
}

p {
  background-color: rgba(173, 216, 230, 0.3);
  font-size: 1.25em;
  line-height: 1.5em;
  padding: 5px;
}

span {
  display: block;
  font-style: oblique;
  margin: 0 auto 10px;
  text-align: right;
  width: 80%;
}

.centered {
  text-align: center;
}

.clear {
    clear: both;
    }

#container {
  background: transparent;
  /*box-shadow: 0 0 5px #ff0000;
  margin: 0 auto;
  position: relative;*/
/*   width: 90%; */
}

#logo {
  float: left;
/*   left: -15%; */
  position: relative;
  max-width: 20vw;
}

#main {
  padding-top: 5px;
  transition: margin-top 0.5s ease;
}

#top {
  background: url("images/road.jpg") center no-repeat;
  background-size: cover;
  color: white;
  font-size: 0.7em;
  height: 50vw;
  padding: 5px;
  position: fixed;
  /*min-width: 90%;
  max-width: 90%;*/
  text-align: center;
  text-shadow: 0 0 1em black;
  width: 100%;
  z-index: 10;
}

#top h1 {
  position: relative;
  bottom: -5%;
}

#pseudo-top {
  height: 50vw;
}

#jumpy:before { 
  display: block; 
  content: " "; 
  margin-top: -50vw; 
  height: 50vw; 
  visibility: hidden; 
}

/******************************************************** menu toggle */
nav {
  position: fixed;
  margin-top: -2000px;
  transition: margin-top 0.5s ease;
  width: 100%;
  z-index: 1;
}

nav ul {
  background-color: black;
  margin: 0;
  padding: 0;
}

li {
  color: red;
  border-bottom: 1px solid white;
  list-style: none;
  padding: 20px 0;
  text-align: center;
 }
 
.purple {
    background: purple;
}

.slide {
  float: right;
  position: relative;
}

.slide img {
  height: 10vw;
}

#slidetoggle {
  display: none;  
}

#slidetoggle:checked ~ nav {
  margin-top: 0;
}

/*#slidetoggle:checked ~ #main {
  margin-top: 165px;
}*/

/***************************************************** Responsive layouts below */

@media screen and (max-width: 499px) {
    #button {
    top: 15%;
  }
}

@media screen and (min-width: 500px) {
  blockquote {
    font-size: 1.5em;
    line-height: 1.25em;
    text-align: center;
  }

  #top, #pseudo-top {
    height: 25vw;
  }
  
  #jumpy:before { 
    margin-top: -25vw; 
    height: 25vw; 
  }

  
}


@media screen and (min-width: 700px) {
  h1 {
    font-size: 3em;
  }
    
  p {
  font-size: 1.75em;
  line-height: 1.5em;
  padding: 0 20px;
  }
  
  /*.slide {
      display: none;
  }

    
  nav{
    background: transparent;
    color: white;
    display: block;
    float: right;
    margin-right: 20px;
    position: static;
    
  }
 
  
  nav a li {
    border: none;
    font-size: 1.75em;
    list-style: ;
    padding: 0 5px;
  }
  
  li:hover {
    color: red;
  }
  
  span {
    text-align: center;
  }*/
}
