* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  background-color: rgba(173, 216, 230, 0.9);
  font-size: 120%; 
  height: 100%;
}

#button {
	  background: rgba(128, 0 , 128, 0.9);
	  border: 3px solid purple;
	  border-radius: 5px;
	  color: white;
	  font-size: 1.5rem;
	  margin: 20px auto;
	  padding: 10px;
	  max-width: 250px;
	  text-align: center;
	  text-shadow: 0 0 10px purple;
}

blockquote {
  background-color: rgba(173, 216, 230, 0.9);
  border: 2px dotted #ff0000;
  border-radius: 5px;
  font-size: 1.3em;
  margin: 5px auto 0;
  padding: 5px;
  width: 80%;
}

footer {
  padding-left: 5px;
}


label img {
  height: 50px;
}

p {
  background-color: rgba(173, 216, 230, 0.3);
  font-size: 1.25em;
  line-height: 1.5em;
  padding: 5px;
}

span {
  display: block;
  font-style: oblique;
  margin: 0 auto 10px;
  text-align: right;
  width: 80%;
}

.centered {
  text-align: center;
}

.clear {
    clear: both;
    }

#container {
  background: transparent;
  /*box-shadow: 0 0 5px #ff0000;
  margin: 0 auto;
  position: relative;*/
/*   width: 90%; */
}

#logo {
  float: left;
/*   left: -15%; */
  position: relative;
  max-width: 20vh;
}

#main {
  
  border-radius: 0 0 10px 10px;
  
  position: relative;
  left: 0;
  padding-top: 5px;
  transition: left 0.5s ease;
}

#top {
  background: url("images/road.jpg") center no-repeat;
  background-size: cover;
  color: white;
  font-size: 0.7em;
  height: 50vw;
/*   padding: 5px; */
  position: fixed;
  /*min-width: 90%;
  max-width: 90%;*/
  text-align: center;
  text-shadow: 0 0 1em black;
  width: 100%;
  z-index: 1;
}

#top h1 {
  position: relative;
  bottom: -5%;
}

#pseudo-top {
    height: 50vw;
/*   padding: 5px; */
  /* min-width: 90%;
  max-width: 90%;*/
}

/*#jumpy:before { 
  display: block; 
  content: " "; 
  margin-top: -320px; 
  height: 320px; 
  visibility: hidden; 
}*/

///////////////////////////////////////////////////* menu toggle */
nav {
  background-color: black;
  color: white;
  font-size: 25px;
  height: 100%;
  width: 157px;
  position: fixed;
  left: -157px;
  transition: left 0.5s ease;
}

nav2 {
    display: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  color: white;
  border-bottom: 1px solid white;
  list-style: none;
  padding: 20px 0;
  text-align: center;
 }
 
.purple {
    background: purple;
}

.slide {
/*   display: inline-block; */
  float: right;
  position: relative;
}

.slide img {
  height: 10vh;
}

#slidetoggle {
  display: none;  
}

#slidetoggle:checked ~ nav {
  left: 0;
}

#slidetoggle:checked ~ #main {
  left: calc(155px - 5.25%);
}

/////////////////////////////////////////////////////* Responsive layouts below */

@media screen and (max-height: 400px) {
    li {
        padding: 10px 5px;
    }

}

@media screen and (min-width: 500px) and (max-width: 770px){
  blockquote {
    font-size: 1.5em;
    line-height: 1.25em;
    text-align: center;
  }
  
  #top, #pseudo-top {
    height: 20vw;
}
  
}

@media screen and (min-width: 500px) {
  #top h1 {
    bottom: -15%;
    font-size: 2.75em;
  }
  
}

@media screen and (min-width: 700px) {
  
    
  p {
  font-size: 1.75em;
  line-height: 1.5em;
  padding: 0 20px;
  }
  
  .slide {
      display: none;
  }
  
 /* #container {
    display: flex;
    flex-direction: column;
    min-height: 95vh;
  }*/
  
 /*   
  #main {
    flex: 1;
/*     margin-top: -32px; */
    
  nav2 {
    background: transparent;
    color: white;
    display: block;
    float: right;
    margin-right: 20px;
    position: static;
    
  }
 
  
  nav2 a li {
    border: none;
    font-size: 1.75em;
    list-style: ;
    padding: 0 5px;
  }
  
  li:hover {
    color: red;
  }
  
  span {
    text-align: center;
  }
}
