* {
  border: 0;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

blockquote {
  background-color: rgba(173, 216, 230, 0.9);
  border: 2px dotted #920000;
  border-radius: 5px;
  font-size: 1.3em;
  margin: 5px auto 0;
  padding: 5px;
  width: 80%;
}

body {
  background: url("images/FAFNM9LB.jpg");
  font-size: 16px; 
  height: 100%;
}

footer {
  padding-left: 5px;
}

h1 {
  text-align: center;
}

h3 {
  display: none;
  font-style: italic;
  position: absolute;
  left: calc(100% - 50%);
  top: 2%;
  width: 200px;
}

label img {
  height: 50px;
}

p {
  background-color: rgba(173, 216, 230, 0.9);
  display: none;
  font-size: 1.1em;
  line-height: 1.2em;
}

span {
  display: block;
  font-style: oblique;
  margin: 0 auto 10px;
  text-align: right;
  width: 80%;
}

.centered {
  text-align: center;
}

#button {
  background: rgba(128, 0 , 128, 0.9);
  border: 3px solid purple;
  border-radius: 5px;
  color: white;
  font-size: 1.5rem;
  margin: 20px auto;
  padding: 10px;
  max-width: 250px;
  text-align: center;
  text-shadow: 0 0 10px purple;
}

#container {
  background: transparent;
  margin: 10px auto;
  position: relative;
  width: 90%;
}

#logo {
  height: 115px;
}

#main {
  background-color: rgba(173, 216, 230, 0.9);
  padding: 5px;
  position: relative;
  left: 0;
  padding-top: 5px;
  text-align: center;
  transition: left 0.5s ease;
}

#top {
  background-color: rgba(173, 216, 230, 0.9);
  border-bottom: 1px solid red;
  padding: 5px;
}

/* menu toggle */
nav {
  background-color: black;
  color: white;
  font-size: 25px;
  padding: 0 5px;
  width: 150px;
  position: fixed;
  left: -53%;
  transition: left 0.5s ease;
}

nav2 {
    display: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  color: white;
  border-bottom: 1px solid white;
  list-style: none;
  padding: 20px 5px;
  text-align: center;
 }


.slide {
/*   display: inline-block; */
  float: right;
}

#slidetoggle {
  display: none;  
}

#slidetoggle:checked ~ nav {
  left: 0;
}

#slidetoggle:checked ~ #main {
  left: calc(150px - 3%);
}

/* Responsive layout below */

@media screen and (max-height: 400px) {
    li {
        padding: 10px 5px;
    
    #logo {
        height: 75px;
    }

@media screen and (min-width: 450px) and (max-width: 770px){
  blockquote {
    font-size: 1.5em;
    line-height: 1.25em;
    text-align: center;
  }
  
  h3 {
    display: initial;
    font-size: 1.2em;
  }
  
}

@media screen and (min-width: 700px) {
  blockquote {
    display: none;
  }
  
    h3 {
    display: initial;
  }
  
  p {
    display: initial;
    font-size: 1.5em;
    line-height: 1.25em;
  }
  
  span {
    text-align: center;
  }
  
  .slide {
      display: none;
  }
  
  nav2 {
    background: transparent;
    color: white;
    display: block;
    float: right;
    margin-right: 20px;
    position: static;
    
  }
  
  nav2 a li {
    border: none;
/*     display: inline-block; */
    font-size: 1.75em;
    list-style: ;
    padding: 0 5px;
  }
  
  li:hover {
    color: red;
  }
  
  #logo {
    height: 200px;
    left: calc(50% - 211px);
    position: relative;
  }
  
@media screen and (min-width: 770px) {
  #logo {
    height: 260px;
    left: calc(50% - 211px);
    position: relative;
  }
}  
  
}