html {
  position: relative;
  min-height: 100%;
}
body {
	display: flex;
	flex-direction: column;
  min-height: 100vh;
  padding-top: 4.5rem;
  background-image: url(../images/chilis.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
footer {
	color: white;
	padding: 5px;
	text-align: center;
}
/*************** navigation *****************/
.navbar img {  /*possibly not needed ???*/
	margin-right: 50px;
}
.navbar-custom, footer {
	background-color: #C40000;
}
.navbar-brand {
	font-size: 1.5em;
	font-family: 'Pompiere', cursive;
}
.navbar-nav li {
	font-size: 1.1em;
	margin: 0 auto;
	width: 10vw;
}
/*.navbar-toggler {
	border-color: rgba(255, 255, 255, .5) !important;
}*/
.not-seen-md {
	display: none;
}
/*************** navigation end *************/
.container-fluid {
	max-width: 1270px;
}
.jumbotron-fluid h1 {
	color: #DDAFAF;
	font-family: 'Pompiere', cursive;
	font-size: 15vw;
	text-shadow: 3px 3px 2px #1A6B13;
}
.jumbotron-fluid .btn-danger {
	background-color: #C40000;
}
.jumbo-content {
	position: absolute;
	top: 15vh;
	left: 22vw;
	text-align: center;
}

.map {
	border-top: 2px solid #C40000;
}
.tacos h1 {
	color: #DDAFAF;
	background-color: rgba(26, 107, 19, 0.7);
}
.phone a {
	color: #DDAFAF;
	text-decoration: none;
}
.phone a:hover {
	text-shadow: 0 0 2px #1A6B13;
}
.card {
	background-color: rgba(26, 107, 19, 0.8);
}
.card ul {
	font-size: 1.3em;
	list-style: none;
}
.card a, .card-text {
	color: white;
	text-decoration: none;
}
.card-title {
	color: #DDAFAF;
	font-family: 'Pompiere', cursive;
	font-size: 2.5em;
}
.card-title span {
	text-decoration: underline;
	text-decoration-color: #1A6B13;
}
.menu .card {
  padding: .75rem;
  margin-bottom: .5rem;
}

.heading {
	color: #DDAFAF;
	font-family: 'Pompiere', cursive;
	font-size: 3rem;
	flex: 1;
	margin-top: 5vh;
}

/***********************************media queries*/
@media(max-width: 768px){

	.navbar img {
		margin: 0;
		height: 55px;
		width: 85px;
	}
	/*a.navbar-brand {
		position: absolute;
		top: 15px;
		left: 125px;
	}*/
}
@media(min-width: 470px){
	.navbar-brand {
	font-size: 2.5em;
	}
}
@media(min-width: 471px){
	.menu .card {
		width: 49%;
	}
}
@media(min-width: 576px){
	.tacotues {
		border-top: 2px solid #C40000;
	}
}
@media(min-width: 768px){

	.jumbo-content {
		top: 25vh;
	}
	.menu {
		margin-top: 10vh;
	}
	.menu .card {
		width: 33%;
	}
	
}	
@media(min-width: 940px){
	.card ul {
		line-height: 2.5;
	}
	.not-seen-md {
		display: block;
	}

}
