

nav ul a,
nav .brand-logo,
.instructor {
  color: #EEC35B;
}

#index-banner h1, #nav-mobile a, .parallax-container h1, .footer-icon{
  color: #EEC35B;
}

#index-banner h1, .parallax-container h1 {
  text-shadow: 2px 2px 2px #000;
}

#index-banner h5, .parallax-container h5{
  text-shadow: 2px 2px 5px #000;
}

#get-started{
  color: #000;
  background-color: #EEC35B;
  font-weight: bold;
  border: 2px solid #000;
}

p {
  line-height: 2rem;
  font-size: 1.5rem;
}

.navbar-fixed, nav {
  height: 110px;
}

.logo {
  height: 100px;
}

.button-collapse {
  color: #EEC35B;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  /*height: auto;*/
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

.footer-icon {
  margin: 20px;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
  #index-banner h1, .parallax-container h1 {
    font-size: 3rem;
  }
  .negative-margin {
    margin-top: -150px;
  }
}


footer.page-footer {
  margin: 0;
}